<form method="post" action="/">
  <label for="tables">Export the tables from SPSS to .txt and paste them here:</label>
  <p><textarea id="tables" name="tables"></textarea></p>
  <p><input type="submit" value="Convert" /></p>
</form>
