<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>SPSS2LaTeX</title>
<meta name="description" content="Webpage for xxxx">
<!-- http://meyerweb.com/eric/tools/css/reset/ -->
<link rel="stylesheet" href="style.css">
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
<![endif]-->
</head>
<body>
  <div id="container">
    <%= yield %>
    
    <div id="footer">
      <p><a href="https://github.com/maxhollmann/spss2latex/">View the source code</a></p>
    </div>
  </div>
</body>
</html>
